@import './assets/style/lib/bootstrap.min.css';

@font-face {
  font-family: 'SSTArabic-Roman';
  src: url("./assets/fonts/SST-Arabic-Roman.ttf");
}

@font-face {
  font-family: 'SSTArabic-Bold';
  src: url("./assets/fonts/SST-Arabic-Bold.ttf");
}

// Don't make badges normal instead of bold
$badge-font-weight: normal;

// Override fonts
$font-family: 'SSTArabic-Roman';
